-# -flash.each do |key, value|
-#   %div{:class=>"alert alert-#{key}"}= value

%div.container
  = form_for @item do |f|
    %span
      = f.label :name
    %br
      = f.text_field :name

    %span
      = f.label :price
    %br
      = f.text_field :price

    %span
      = f.label :quantity
    %br
      = f.text_field :quantity

    %span
      = f.label :description
    %br
      = f.text_field :description

    %span
      = f.label :image_url
    %br
      = f.text_field :image_url

    %br
    %br
    %center
      %btn.form_button= f.submit(type = "Submit")

