%center
  %h1
    = @item.name.upcase

  %div.jumbotron
    %img{src: @item.image_url}

    %p.item_label
      = "PRICE:"

    %p
      -# = "$" + @item.price.to_s
      =number_to_currency(@item.price)

    %p.item_label
      = "QUANTITY:"

    %p
      = @item.quantity

    %p.item_label
      = "DESCRIPTION:"

    %p
      = @item.description

    -# %p
    -#   =link_to 'Home', root_path
