%h2= @category.name

%table
  %tr
  - @items.each_slice(3) do |itemary|
    .row
      -itemary.each do |item|
        .col-md-4
          %span= item.name
          %br
          = link_to image_tag("#{item.image_url}"), item_path(item)

          %br
          %span.item-a=link_to 'Show', item_path(item)
          %br
          - if current_user
            - if item.quantity != 0
              = form_for(:ordered_item, {url: ordered_items_path, html: {class: 'addItem'}}) do |f|
                = f.number_field :order_quantity
                = f.hidden_field :item_id, {value: item.id}
                = f.submit "Add to basket"
            - else
              %p.text-danger Out of stock
            - if current_user.admin
              %br
              %span.item-a=link_to 'Edit', edit_item_path(item)
              %span.item-a=link_to 'Delete', item_path(item), method: :delete, data: {confirm: 'Are you sure?'}

%br
%br
%center
  -if current_user
    -if current_user.admin
      %button.btn.btn-primary=link_to 'Create an item', new_item_path
