!!!
%html
  %head
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript"> Stripe.setPublishableKey('pk_test_lIE7BStz6qe5AwnvamiThBA7');</script>

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title)
    %link{:href => 'http://vignette1.wikia.nocookie.net/vim/images/6/68/Vim-editor_logo.png', :rel => "shortcut icon", :type => "image/png"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / = javascript_include_tag 'application'
    / = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    / Optional theme
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
    / Latest compiled and minified JavaScript
    %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        %ul.list.nav.navbar-nav
          %li
            %li.navbaritem
              =link_to 'Home', root_path
            -if logged_in
              %li
                = link_to 'My Cart', my_cart_path
              %li
                = link_to 'My Orders', orders_path
              %li
                = link_to 'My Profile', user_path(current_user)
              -if current_user.admin
                %li.navbaritem
                  =link_to 'Admin', admin_path
              %li
                %a{href: '/logout'}
                  %span Logout
            -else
              %li
                %a{href: '/users/new'}
                  %span Register
              %li
                %a{href: '/login'}
                  %span Login

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
    .cart
    = yield
